{% include 'base.html' %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<h1>Гостевая книга</h1>
{% block content %}

    {% for guest in guests%}
        <div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">{{ guest.author_name }} ({{ guest.author_mail }})
        <a class="fa-regular fa-pen-to-square" href="{% url 'guest_update_view' pk=guest.pk %}"></a>
        <a class="fa-regular fa-copy" href="{% url 'guest_delete_view' pk=guest.pk %}"></a>
    </h5>
    <p class="card-text">{{ guest.text }}</p>
<p>

        </p>
  </div>
</div>
     {% endfor %}



{% endblock %}